<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>

    <h1 th:text="${person.getName() + ', ' + person.getAge()}"></h1>
    <h2 th:text="${'Email: ' + person.getEmail()}"></h2>
    <h2 th:text="${person.getId()}"></h2>
    <hr>
    <a th:href="@{/people/{id}/edit(id=${person.getId()})}">To edit</a>
    <a th:href="@{/people}">Back</a>
    <br>
    <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
        <input type="submit" value="Delete"/>
    </form>

</body>
</html>